body {
    width: 330px;
}
.error {
    color: #933;
}
.warning {
    color: #388;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.p-bottom-3 {
    padding-top: 3px;
    padding-bottom: 3px;
}
.left {
    float: left;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.server {
    margin-top: 3px;
    border-top: 1px solid #999;
    padding-top: 5px;
}
.server:first-child {
    border-top: none;
}

.server-title {
    width: 80%;
    width: calc(100% - 40px);

    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.server-img {
    width: 40px;
}

.delete {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px;
    position: relative;
    top: -3px;
}
.delete:hover {
    box-shadow: inset 0 0 5px #000;
    text-decoration: underline;
}

#addServer {
    margin-top: 5px;
}
